@charset "UTF-8";
.section-container {
  opacity: 0;
  transform: translateY(20px);
  animation-fill-mode: forwards;
}

.section-container.entrees {
  animation: fadeInUp 1s ease-out 0.5s forwards;
}

.section-container.plats {
  animation: fadeInUp 1s ease-out 1s forwards;
}

.section-container.desserts {
  animation: fadeInUp 1s ease-out 1.5s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  width: 8.125rem;
  height: 1.25rem;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: normal;
}

.page-daccueil {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1400px;
}

.page-daccueil .pied-de-page {
  width: 100%;
  background-color: #353535;
}

.page-daccueil .footer-carde {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1rem;
  padding: 15px;
  flex-direction: column;
}

.page-daccueil .logo-ohmyfood {
  flex: 1 1 100%;
  max-width: 8.6875rem;
  margin-bottom: 1rem;
}

.page-daccueil .liens {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.4375rem;
}

.page-daccueil .div-2 {
  position: relative;
  width: 12rem;
  height: 1.1875rem;
  margin-right: -0.125rem;
}

.page-daccueil .texte-wrapper-10 {
  position: absolute;
  width: 10.5rem;
  top: 0;
  left: 1.375rem;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: normal;
}

.page-daccueil .vecteur {
  width: 0.6875rem;
  top: 0.125rem;
  position: absolute;
  height: 0.8125rem;
  left: 0;
}

.page-daccueil .vecteur-2 {
  width: 0.75rem;
  top: 0.25rem;
  position: absolute;
  height: 0.8125rem;
  left: 0;
}

.page-daccueil .texte-wrapper-11 {
  width: 8.125rem;
  height: 1.25rem;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: normal;
}

.page-daccueil .en-tête {
  position: relative;
  width: 100%;
  display: flex;
}

.page-daccueil .en-tête-2 {
  height: 3.9375rem;
  background-color: #FFFFFF;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1490196078);
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-daccueil .fleche-retour {
  position: absolute;
  left: 20px;
  top: 20px;
}

.page-daccueil .logo-ohmyfood-2 {
  width: 12.3125rem;
  height: 2.3125rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.image-restaurent {
  width: 100%;
  margin-top: -30%;
  height: 50%;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.menu-container {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1490196078);
  background-color: #F6F6F6;
  padding: 15px;
  margin-top: -5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.menu-container-title {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
  width: min(100%, 290px);
}

.menu-title {
  color: #000;
  font-size: 26px;
  font-family: Shrikhand;
  font-weight: 400;
  word-wrap: break-word;
  text-align: start;
}

.section-container {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section-title {
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.section-title::after {
  content: "";
  margin-top: 5px;
  display: block;
  max-width: 30px;
  border-bottom: 2px solid #99E2D0;
  bottom: 0;
  left: 0;
}

.menu-item {
  margin-bottom: 10px;
  width: 100%;
  height: 62px;
  border-radius: 20px;
  background: var(--Background, #F6F6F6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 10px;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  transition: all 1s ease;
}

.menu-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: #99E2D0;
  background-image: url("../img/svg/icone-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  transition: width 1s ease, right 1s ease;
  z-index: 1;
  overflow: hidden;
}

.menu-item:hover::after {
  width: 20%;
  right: 0;
}

.svg-container {
  position: relative;
  width: 24px;
  height: 24px;
}

.aimer, .aimer-vide {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}

.aimer {
  opacity: 0;
  z-index: 1;
}

.svg-container:hover .aimer-vide {
  opacity: 0;
}

.svg-container:hover .aimer {
  opacity: 1;
}

.menu-item .dish-info {
  transition: width 1s ease;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu-item:hover .dish-info {
  width: 60%;
}

.menu-item:hover .dish-container {
  transform: translateX(-10%);
  transition: transform 1s ease;
}

.dish-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: transform 1s ease;
}

.dish-info {
  width: 80%;
}

.dish-title {
  color: #000;
  font-size: 15px;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dish-description {
  color: #000;
  font-size: 15.04px;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dish-price {
  width: 20%;
  text-align: end;
  color: #353535;
  font-size: 15.04px;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  word-wrap: break-word;
  position: relative;
  bottom: -20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.btn-commander {
  all: unset;
  box-sizing: border-box;
  width: 186px;
  height: 50px;
  border-radius: 1.5625rem;
  box-shadow: 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.1490196078);
  background: linear-gradient(180deg, #9356DC 0%, #FF79D9 100%);
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  font-style: normal;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-commander:hover {
  background: linear-gradient(180deg, #9356DC 0%, #FF79D9 100%);
  box-shadow: 0 0.5rem 1.25rem 0 rgba(0, 0, 0, 0.1490196078);
}

@media (min-width: 575px) {
  .page-daccueil .pied-de-page {
    display: flex;
    justify-content: flex-end;
  }
  .page-daccueil .footer-carde {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    max-width: 1400px;
  }
  .page-daccueil .logo-ohmyfood {
    order: 4;
    margin: 0;
  }
}
@media (max-width: 575px) {
  .page-daccueil .footer-carde {
    align-items: flex-start;
  }
  .page-daccueil .logo-ohmyfood {
    order: 1;
    margin-bottom: 1rem;
  }
  .page-daccueil .liens {
    display: flow;
    order: 2;
    justify-content: flex-start;
  }
  .page-daccueil .fleche-retour {
    left: 0.5rem;
  }
  .menu-container {
    width: 100%;
  }
  .menu-item {
    margin-bottom: 10px;
    width: 100%;
    height: 62px;
    border-radius: 20px;
    background: var(--Background, #F6F6F6);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
    padding: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    transition: all 1s ease;
    text-overflow: ellipsis;
  }
  .menu-item::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: #99E2D0;
    background-image: url("../img/svg/icone-check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    transition: width 1s ease, right 1s ease;
    z-index: 1;
    overflow: hidden;
  }
  .menu-item:hover::after {
    width: 20%;
    right: 0;
  }
  .menu-item .dish-info {
    width: 80%;
    transition: width 1s ease;
  }
  .menu-item:hover .dish-container {
    transform: translateX(-10%);
    transition: transform 1s ease;
  }
  .dish-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: transform 1s ease;
  }
  .dish-info {
    width: 80%;
  }
  .dish-title {
    color: #000;
    font-size: 15px;
    font-family: "Roboto", Helvetica;
    font-weight: 500;
    word-wrap: break-word;
    margin-bottom: 7px;
  }
  .dish-description {
    color: #000;
    font-size: 14px;
    font-family: "Roboto", Helvetica;
    font-weight: 300;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .dish-price {
    width: 20%;
    text-align: end;
    color: #353535;
    font-size: 15.04px;
    font-family: "Roboto", Helvetica;
    font-weight: 700;
    word-wrap: break-word;
    position: relative;
    bottom: -20px;
  }
}/*# sourceMappingURL=style.css.map */