@charset "UTF-8";
.fa-beat {
  animation-delay: var(--fa-animation-delay, 0s);
}

.fa-beat-fade, .fa-fade {
  animation-delay: var(--fa-animation-delay, 0s);
}

.fa-flip {
  animation-delay: var(--fa-animation-delay, 0s);
}

.fa-spin {
  animation-delay: var(--fa-animation-delay, 0s);
}

.fa-rotate-by {
  transform: rotate(var(--fa-rotate-angle, 0deg));
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 2s forwards 2s;
}

.spinner {
  border: 16px solid #F6F6F6;
  border-top: 16px solid #9356DC;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader-hidden {
  display: none;
}

.page-daccueil {
  opacity: 0;
  animation: fadeIn 1s forwards 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
a {
  text-decoration: none;
  width: 8.125rem;
  height: 1.25rem;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: normal;
}

.page-daccueil {
  margin: 0;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.page-daccueil .div {
  width: 23.4375rem;
  min-height: 140.75rem;
}

.page-daccueil .superposition-blanc {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-daccueil .superposition {
  margin-top: 1rem;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-daccueil .superposition-blanc {
  background: #FFFFFF;
  width: 100%;
}

.page-daccueil .superposition {
  margin-top: 1rem;
  margin-bottom: 2rem;
  max-width: 1080px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.page-daccueil .fonctionnement {
  text-align: left;
  color: #000;
  font-family: "Roboto", Helvetica;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
}

.page-daccueil .cartes {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  justify-content: center;
}

.page-daccueil .carte {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  width: 100%;
}

.page-daccueil .rectangle {
  width: 100%;
  height: 73px;
  border-radius: 20px;
  background: var(--Background, #F6F6F6);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1490196078);
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 25px;
}

.cartes .rectangle .icone {
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.cartes .rectangle:hover .icone {
  filter: none;
}

.page-daccueil .texte-wrapper {
  margin-left: 25px;
  margin-top: 5px;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #000;
  font-size: 1rem;
  width: 100%;
}

.page-daccueil .num {
  position: absolute;
  left: -12px;
  background-color: #9356DC;
  color: #FFFFFF;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  font-size: 0.8875rem;
  padding-top: 3px;
}

.page-daccueil .icone {
  fill: #7E7E7E;
  margin-top: 5px;
  width: 24px;
  height: 24px;
}

.page-daccueil .texte-wrapper-3 {
  position: absolute;
  width: 13.1875rem;
  top: 1.75rem;
  left: 4rem;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #000;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.page-daccueil .texte-wrapper-4 {
  color: #F6F6F6;
  position: absolute;
  width: 0.9375rem;
  top: 0.3125rem;
  left: 0.5rem;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  font-size: 0.8875rem;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.page-daccueil .liste-ul {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 1.75rem;
  left: 1.5rem;
}

.page-daccueil .img {
  position: absolute;
  width: 22rem;
  height: 6.375rem;
  top: 5.875rem;
  left: 1.125rem;
}

.page-daccueil .rservez-le-menu-qui {
  position: absolute;
  width: 14.25rem;
  height: 2.875rem;
  top: 9.75rem;
  left: 4.0625rem;
}

.page-daccueil .superposition-2 {
  display: flex;
  max-width: 1080px;
  padding: 15px;
  flex-direction: column;
  justify-content: center;
}

.page-daccueil .texte-wrapper-5 {
  padding-top: 10px;
  left: 0.1875rem;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #000;
  font-size: 1.5rem;
  letter-spacing: 0;
  line-height: normal;
  font-style: normal;
}

.page-daccueil .cadre {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.125rem;
  padding-top: 15px;
  left: 0;
}

.page-daccueil .carte-menu {
  position: relative;
  align-self: stretch;
  flex: 40% 1 1;
  min-width: 300px;
  height: 15.6875rem;
  background-color: #FFFFFF;
  border-radius: 0.9375rem;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.9375rem 0 rgba(0, 0, 0, 0.1490196078);
}

.page-daccueil .badge-nouveau-wrapper {
  position: absolute;
  width: 21.25rem;
  height: 10.875rem;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
}

.page-daccueil .badge-nouveau {
  position: relative;
  width: 5rem;
  height: 1.8125rem;
  top: 0.8125rem;
  background-color: #99E2D0;
  border-radius: 0.125rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1490196078);
}

.page-daccueil .texte-wrapper-6 {
  position: absolute;
  width: 3.8125rem;
  top: 0.375rem;
  left: 0.5625rem;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #008766;
  font-size: 0.875rem;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.page-daccueil .texte-wrapper-7 {
  position: absolute;
  width: 16.6875rem;
  top: 11.8125rem;
  left: 0.8125rem;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #000;
  font-size: 1.125rem;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.page-daccueil .texte-wrapper-8 {
  position: absolute;
  width: 15.4375rem;
  top: 13.375rem;
  left: 0.8125rem;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: #000;
  font-size: 1.0625rem;
  letter-spacing: 0;
  line-height: normal;
}

.page-daccueil .hidden {
  position: absolute;
  width: 1.375rem;
  height: 1.3125rem;
  top: 200px;
  right: 20px;
}

.page-daccueil .superposition-3 {
  position: absolute;
  right: 20px;
  top: 0;
  background-size: cover;
  background-position: 50% 50%;
}

.page-daccueil .n {
  width: 100%;
  height: 10.875rem;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-daccueil .découvrez-des {
  position: absolute;
  width: 19rem;
  height: 2.375rem;
  top: 14rem;
  left: 2.5rem;
}

.Reserver-Explorer {
  align-items: center;
  padding: 15px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Titre-Reserver {
  height: 47px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: "Roboto", Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}

.Sous-titre-Reserver {
  color: #000;
  flex-shrink: 0;
  text-align: center;
  height: 47px;
  font-size: 18px;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  word-wrap: break-word;
  margin-bottom: 15px;
}

.page-daccueil .bouton {
  all: unset;
  box-sizing: border-box;
  width: 13.625rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
  box-shadow: 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.1490196078);
  background: linear-gradient(180deg, #9356DC 0%, #FF79D9 100%);
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.page-daccueil .bouton:hover {
  background: linear-gradient(180deg, #9356DC 0%, #FF79D9 100%);
  box-shadow: 0 0.5rem 1.25rem 0 rgba(0, 0, 0, 0.1490196078);
}

.page-daccueil .texte-wrapper-9 {
  position: absolute;
  width: 11.25rem;
  height: 1.5rem;
  top: 0.75rem;
  left: 1.1875rem;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  font-style: normal;
}

.page-daccueil .pied-de-page {
  width: 100%;
  background-color: #353535;
}

.page-daccueil .footer-carde {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1rem;
  padding: 15px;
  flex-direction: column;
}

.page-daccueil .logo-ohmyfood {
  flex: 1 1 100%;
  max-width: 8.6875rem;
  margin-bottom: 1rem;
}

.page-daccueil .liens {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.4375rem;
}

.page-daccueil .div-2 {
  position: relative;
  width: 12rem;
  height: 1.1875rem;
  margin-right: -0.125rem;
}

.page-daccueil .texte-wrapper-10 {
  position: absolute;
  width: 10.5rem;
  top: 0;
  left: 1.375rem;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: normal;
}

.page-daccueil .vecteur {
  width: 0.6875rem;
  top: 0.125rem;
  position: absolute;
  height: 0.8125rem;
  left: 0;
}

.page-daccueil .vecteur-2 {
  width: 0.75rem;
  top: 0.25rem;
  position: absolute;
  height: 0.8125rem;
  left: 0;
}

.svg-container {
  position: absolute;
  top: 200px;
  right: 20px;
  width: 24px;
  height: 24px;
}

.aimer, .aimer-vide {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}

.aimer {
  opacity: 0;
  z-index: 1;
}

.svg-container:hover .aimer-vide {
  opacity: 0;
}

.svg-container:hover .aimer {
  opacity: 1;
}

.page-daccueil .texte-wrapper-11 {
  width: 8.125rem;
  height: 1.25rem;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: normal;
}

.page-daccueil .en-tête {
  height: 7.0625rem;
  position: relative;
  width: 100%;
  display: flex;
}

.page-daccueil .superposition-4 {
  position: relative;
  width: 100%;
  height: 7rem;
}

.page-daccueil .emplacement {
  display: flex;
  width: 100%;
  height: 3.125rem;
  align-items: center;
  justify-content: center;
  gap: 1.0625rem;
  position: absolute;
  top: 3.875rem;
  left: 0;
  background-color: #eaeaea;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1490196078);
}

.page-daccueil .icône-épingle {
  position: relative;
  width: 0.75rem;
  height: 1rem;
}

.page-daccueil .texte-wrapper-12 {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #353535;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  font-style: normal;
}

.page-daccueil .en-tête-2 {
  height: 3.9375rem;
  background-color: #FFFFFF;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1490196078);
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-daccueil .logo-ohmyfood-2 {
  width: 12.3125rem;
  height: 2.3125rem;
  top: 0.875rem;
  position: absolute;
}

@media (min-width: 647px) {
  .page-daccueil .pied-de-page {
    display: flex;
    justify-content: flex-end;
  }
  .page-daccueil .footer-carde {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    max-width: 1080px;
  }
  .page-daccueil .logo-ohmyfood {
    order: 4;
    margin: 0;
  }
  .page-daccueil .cartes {
    flex-direction: row;
  }
  .page-daccueil .carte {
    flex: 33% 1 1;
    max-width: calc(33.333% - 16.66px);
  }
}
@media (max-width: 647px) {
  .page-daccueil .footer-carde {
    align-items: flex-start;
  }
  .page-daccueil .logo-ohmyfood {
    order: 1;
    margin-bottom: 1rem;
  }
  .page-daccueil .liens {
    display: flow;
    order: 2;
    justify-content: flex-start;
  }
}/*# sourceMappingURL=style-index.css.map */