// variables-colors.scss
$off-white: #F6F6F6;
$anthracite: #353535;
$white: #FFFFFF;
$purple: #9356DC;
$black: #000;
$shadow-border-box: #00000026;
$icone-color: #7E7E7E;
$turquoise: #99E2D0;
$location: #eaeaea;
$pink: #FF79D9;
$green: #008766;
$location-text: #353535;
